<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Company Page</title>
    <script type = "module" src="../app.js" charset="utf-8"></script>
    <script type = "application/" src="https://storage.googleapis.com/code-snippets/rapidapi.min.js"></script>
    <meta http-equiv="content-type" content="application/json; charset=UTF-8">
</head>

<% include ../partials/header.ejs %>
  <body class="bg-div">

    <form class='form-horizontal' action='/update_rentals/<%=trucks[0].rental_id %>?_method=patch' method = "POST">
        <fieldset id='form-field'>
        
        
        <legend style = "margin-left: 30%; border-bottom: none" id= "newCompanyFormTitle">Update Company</legend>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="logo">Logo</label>  
          <div class="col-md-4">
          <input id="newlogo" name="logo" required= "true" value = "<%= trucks[0].logo %>" type="text" placeholder="Enter Logo URL" class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
                <label class="col-md-4 control-label" for="name">Company Name</label>  
                <div class="col-md-4">
                <input id="name" name="name" required= "true" type="text" value = "<%= trucks[0].name %>"placeholder="Enter Company Name" class="form-control input-md">  
                </div>
              </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address</label>  
          <div class="col-md-4">
          <input id="address" name="address" required= "true" type="text" value = "<%= trucks[0].address %>"placeholder="Enter Address" class="form-control input-md">  
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Phone</label>  
          <div class="col-md-4">
          <input id="phone" name="phone" type="text" required= "true" value = "<%= trucks[0].phone %>"placeholder="Enter Phone Number" class="form-control input-md">  
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="website">Website</label>  
          <div class="col-md-4">
          <input id="website" name="website" required= "true" type="text" value = "<%= trucks[0].website %>"placeholder="Enter Website URL" class="form-control input-md">  
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="yelpRating">Yelp Rating</label>  
          <div class="col-md-4">
          <input id="yelpRating" name="yelpRating" required= "true" type="text" value = "<%= trucks[0].yelpRating %>" placeholder="Enter Yelp Rating" class="form-control input-md">  
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="yelpReviews">Yelp Reviews</label>  
          <div class="col-md-4">
          <input id="yelpReviews" name="yelpReviews" required= "true" type="text" value = "<%= trucks[0].yelpReviews %>"placeholder="Enter Yelp Review" class="form-control input-md">  
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="updateCompanies"></label>
          <div class="col-md-4">
                <button type="submit" class="form-submit" >Save</button>
          </div>
        </div>
        
        </fieldset>
    </form>
  </body>


</html>